@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: var(--font-bebasNeue);
  --font-body: var(--font-outfit);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.heading-font {
  font-family: var(--font-bebasNeue);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif
}